 @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

*{
	font-family: Lato, Verdana, sans-serif;
}

.headerTitle{
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	text-transform: uppercase;
}

 .content {
	height: 100%;
	min-height: 300px;
	padding: 60px;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 200;
	line-height: 30px;
	vertical-align: middle;
	color: inherit;
	background-color: #eeeeee;
	background-image: url('../img/blured.jpg');
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	  border-radius: 6px;
}

.content h1 {
	margin-bottom: 0;
	font-size: 40px;
	line-height: 1;
	letter-spacing: -1px;
	color: inherit;
}

.projectCell{
	margin-top: 30px;
}

.content li {
  	line-height: 30px;
}
.zdjecie img{
	margin-bottom: 10px;
	border-style: ridge;
	border-width: 3px;
	border-color: silver;
	border-radius: 8px;
}
.bigger{
	font-size: 20px;
	line-height: 3;
	letter-spacing: -1px;
	color: inherit;
}
.fa {
	margin-left:10px;
	padding: 10px;
	font-size: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	text-decoration:none;
    	color:white;
}

.fa-instagram {
	background: #125688;
  	color: white;
}

.fa-linkedin {
  	background: #007bb5;
  	color: white;
}
.fa-github {
  	background: #181717;
  	color: white;
}
.fa-spotify {
  	background: #1ED760;
  	color: white;
}
.fa-lastfm {
  	background: #D51007;
  	color: white;
}
.fa-steam {
  	background: #000000;
  	color: white;
}

